@use "/src/assets/colors";
@use "/src/assets/font";

.section.home {
  position: relative;
  background-size: cover;

  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;

  .textBox {
    color: colors.$white;
    margin: 0 0 10vh 0;
    padding: 0 0 0 15vw;
  }
  background-color: transparent;
  &::before {
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
    content: " ";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

.section.home.loaded {
  &::before {
    background-image: linear-gradient(180deg, #1a7fc380, #373737),
      url(/home-background.png);
    animation: focus 0.5s linear;
  }
}

@keyframes focus {
  0% {
    filter: blur(8px);
  }
  100% {
    filter: blur(0);
  }
}

.section.home.pending {
  &::before {
    background-image: linear-gradient(180deg, #1a7fc380, #373737),
      url(/small/home-background.png);
    background-size: cover;
    background-position: center;
    filter: blur(8px);
  }
}

@media (max-width: 768px) {
  .section.home {
    .textBox {
      padding: 0 10px;
      text-align: center;
    }

    h1 {
      font-size: font.$header2;
    }
    h2 {
      font-size: font.$header3;
    }
  }
}

@media (max-width: 530px) {
  .section.home {
    h1 {
      font-size: 36px;
    }
    h2 {
      font-size: font.$header5;
    }
  }
}

@media (max-width: 770px) {
  .section.home {
    justify-content: center;
  }
}
