@use "/src/assets/colors";
@use "/src/assets/font";

.section.location {
  display: flex;
  flex-direction: column;
  background-color: colors.$white;
  max-height: 950px;

  h3,
  h5 {
    color: colors.$dark;
  }

  h4 {
    margin: 35px 0 30px 10%;
    color: colors.$strongGray;
  }

  h5 {
    margin-bottom: 5px;
    text-align: center;
  }

  .wrapper__location {
    padding: 32px 20%;
    font-size: font.$text;
    color: colors.$strongGray;
  }

  .container__horizontal {
    position: relative;
    width: 100%;
    margin: 30px 0;

    display: flex;
    justify-content: space-between;
  }

  .container__vertical {
    display: flex;
    flex-direction: column;
    align-items: center;
    .location__image {
      width: 30px;
      height: 30px;
    }
  }
}

@media (max-width: 1200px) {
  .section.location {
    .wrapper__location {
      padding: 0 10% 5%;
    }
  }
}

@media (max-width: 768px) {
  .section.location {
    .wrapper__location {
      padding: 0 5% 5%;
    }
    .container__vertical {
      h3 {
        font-size: font.$header4;
      }
      h6 {
        font-size: font.$text;
      }
    }
  }
}

@media (max-width: 660px) {
  .section.location {
    .container__horizontal {
      flex-direction: column;
      gap: 30px;
    }
  }
}

@media (max-width: 400px) {
  .section.location {
    h5 {
      font-size: font.$header6;
      font-weight: bold;
    }
  }
}

@media (max-height: 770px) {
  .section.location {
    height: 125%;
  }
}
