@use "/src/assets/colors";
@use "/src/assets/font";

.section.news {
  padding-top: 17px;
  overflow: hidden;

  .container__horizontal {
    position: relative;
    width: 100%;
    margin-top: 60px;
    display: flex;
    justify-content: center;
    gap: 20px;
  }
}
