@use "/src/assets/colors";
@use "/src/assets/font";

.section.news {
  padding: 17px 0 60px;
  height: fit-content;
  overflow-x: hidden;

  .container__horizontal {
    position: relative;
    width: 100%;
    margin-top: 60px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
  }
}

@media (max-width: 1200px) {
  .section.news {
    height: auto;
  }
}
