@use "/src/assets/colors";
@use "/src/assets/font";

.booking__col {
  .contractNotice {
    font-size: font.$textDesc;
    color: colors.$strongGray;
  }
  hr:nth-of-type(2) {
    margin-top: 20px;
  }
}

.personalInformation__textInput {
  width: 100%;
  max-width: 330px;
}
