@use "/src/assets/colors";
@use "/src/assets/font";

.btn {
  border-radius: 8px;
  width: 144px;
  height: 36px;
}

.btn:hover {
  cursor: pointer;
}

.btn__news {
  margin-top: auto;
  margin-bottom: 26px;
  background-color: colors.$darkBlue;
  color: colors.$whitest;
  font-size: font.$header6;
}

.btn__news:hover,
.btn__cars:hover,
.btn__searchBar:hover,
.btn__details:hover,
.btn__form:hover,
.btn__outline:hover {
  transform: scale(1.05);
  background-color: colors.$accent;
  color: colors.$whitest;
  animation: enlarge 0.2s ease-in;
  filter: drop-shadow(0 0 3px colors.$darkBlue);
}

.btn__searchBar:hover {
  background-color: colors.$darkBlue;
}

@keyframes enlarge {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.05);
  }
}

.btn__cars {
  margin-top: auto;
  margin-bottom: 20px;
  border: 2px solid colors.$accent;
  background-color: transparent;
  color: colors.$accent;
  font-size: font.$header5;
  a {
    color: colors.$accent;
  }
}

.btn__form,
.btn__details {
  width: 220px;
  height: 48px;
  margin-top: 23px;
  background-color: colors.$accent;
  color: colors.$white;
  box-shadow: 0px 4px 8px 2px rgba(42, 111, 219, 0.3);
}

.btn__back {
  position: absolute;

  left: 0px;
  top: -33px;
  width: auto;
  height: 20px;
  font-size: font.$header5;
  color: colors.$lightGray;
  background-color: transparent;
  i {
    width: 7px;
    height: 10px;
    display: inline-block;
    margin-right: 8px;
    margin-bottom: 1px;
    background-image: url(/icons/backArrow.svg);
  }
}

.btn__back.strong {
  color: colors.$strongGray;
  i {
    background-image: url(/icons/backArrowStrong.svg);
  }
}

.btn__outline {
  height: 40px;
  padding: 5px 20px;
  background-color: colors.$white;
  border: 2px solid colors.$accent;
  color: colors.$accent;
  font-size: font.$textBtn;
}

.btn__outline:hover {
  background-color: colors.$white;
  color: colors.$accent;
}

.btn__outline.fill {
  background-color: colors.$accent;
  color: colors.$white;
  border: none;
}

.btn__searchBar {
  background-color: colors.$darkBlue;
  color: colors.$white;
  height: 50px;
  align-self: center;
  margin: 5px 0 0 0;
}

@media (max-width: 890px) {
  .btn__outline {
    width: 100%;
  }
}

@media (max-width: 768px) {
  .btn__searchBar {
    margin: 0;
  }
}
