@use "/src/assets/colors";
@use "/src/assets/font";

.card {
  position: relative;
  width: 280px;
  border-radius: 4px;
  background: colors.$white;
  border-style: solid;
  border-color: colors.$lightGray;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card__news {
  height: 320px;
  border-width: 1px;
  box-shadow: 0px 4px 8px rgba(98, 107, 125, 0.2);

  h6 {
    padding: 9px 27px;
  }
}

.card__vehicles {
  border-width: 2px;
  height: 360px;
  img,
  .tint {
    width: 276px;
    height: 170px;
    border-radius: 4px 4px 0 0;
  }
  .tint {
    top: 0;
    position: absolute;
    background: linear-gradient(
      360deg,
      rgba(18, 44, 145, 0.45) 0%,
      rgba(217, 217, 217, 0) 100%
    );
  }
  .imgContainer__card {
    position: relative;
    width: 100%;
    height: 50%;
  }
}

.card__details,
.card__booking {
  min-height: 700px;
  background-color: colors.$whitest;
  width: 100%;
  border: 2px solid colors.$white;
  box-shadow: 0px 4px 8px rgba(98, 107, 125, 0.2);
  max-width: 1200px;
}

.card__details {
  img,
  .tint {
    width: 100%;
    height: 100%;
  }
  .tint {
    top: -5px;
    position: absolute;
    background: linear-gradient(
      360deg,
      rgba(18, 44, 145, 0.35) 0%,
      rgba(100, 115, 175, 0.105938) 41.15%,
      rgba(217, 217, 217, 0) 100%
    );
  }
  .imgContainer__card {
    position: relative;
    width: 100%;
    height: 50%;
  }
}

.card__booking {
  padding: 29px 38px 46px 77px;
  align-items: flex-start;
  img {
    display: none;
  }
}

.card__summary {
  height: auto;
  padding: 1.5rem 0.5rem;
  border-color: colors.$accent;

  h4 {
    line-height: 29px;
  }

  p {
    font-size: font.$text;
    color: colors.$strongGray;
  }
}

.card__insurance {
  width: 100%;

  padding: 20px 30px;
  margin-top: 20px;
  background-color: colors.$lightGray;
  border: none;
  flex-direction: row;
  align-items: center;

  .insurance__content {
    width: 60%;
    display: flex;
    flex-direction: column;
  }

  .insurance__row {
    display: flex;
    justify-content: space-between;

    h5:nth-of-type(2) {
      margin-right: 40px;
      color: colors.$darkBlue;
    }
  }

  .insurance__desc {
    font-size: 10px;
    margin: 6px 0 0;
  }
}

@media (max-width: 890px) {
  .card__insurance {
    padding: 20px 10px;
    .insurance__content {
      h5 {
        font-size: font.$header6;
      }
    }
    .insurance__row {
      gap: 5px;
    }
  }
}

@media (max-width: 768px) {
  .card__details,
  .card__booking {
    height: auto;
    padding-bottom: 20px;
  }

  .card__booking {
    padding: 20px 20%;
  }
}

@media (max-width: 490px) {
  .card__booking {
    padding: 20px 5%;
  }
}

@media (max-width: 330px) {
  .card__booking {
    padding: 20px 2%;
  }
}
