@use "../assets/colors";

.news__image {
  width: 100%;
  height: 50vh;

  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  color: colors.$white;
  padding: 5% 0 0 7.5%;
}

.news__imageContainer {
  width: 100vh;
  height: 50vh;
}

.slick-dots li button:before {
  color: colors.$white;
  font-size: 20px;
  opacity: 0.5;
}
.slick-dots {
  padding: 0 0 60px 0;
}

.slick-dots li.slick-active button:before {
  color: colors.$white;
  opacity: 1;
}
