@use "../assets/colors";
@use "../assets//font";

.footer {
  width: 100%;
  height: 130px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 30px;
  font-size: font.$text;
  color: colors.$strongGray;
  background-color: colors.$whitest;

  .logo {
    margin-right: auto;
    height: 30px;
  }
  nav {
    flex-direction: column;
    line-height: 1.5em;
    a {
      margin: 0;
      color: inherit;
    }
  }
  address {
    span {
      text-decoration: underline;
    }
    font-style: normal;
    line-height: 1.5em;
    margin: 0 60px;
  }

  .footer__socialMedia {
    display: flex;
    .instagram,
    .facebook,
    .twitter {
      display: flex;
      width: 16px;
      height: 16px;
      background-repeat: no-repeat;
      background-size: auto;
      background-color: transparent;
      border: none;
      border-radius: 0;
      margin: 38px 15px 20px 20px;
    }

    .twitter {
      background-image: url(/socialMedia/twitter.svg);
    }
    .instagram {
      background-image: url(/socialMedia/instagram.svg);
    }
    .facebook {
      background-image: url(/socialMedia/facebook.svg);
    }
  }
}

@media (max-width: 700px) {
  .footer {
    height: auto;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: center;
    padding: 30px 5%;
    .logo {
      margin: 0 0 0 25px;
      height: 40px;
    }
    nav {
      flex-direction: row;
      justify-content: center;
      gap: 10px;
      width: 75%;
    }
    address {
      width: 40%;
      justify-content: center;
    }

    .footer__socialMedia {
      .instagram,
      .facebook,
      .twitter {
        margin: 20px;
      }
    }
  }
}
