@use "../assets/colors";

.navbar,
.navbar_mobile {
  position: fixed;
  display: flex;
  height: 60px;
  width: 100%;
  z-index: 1;
  background-color: colors.$whitest;
  align-items: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

  transition: transform 0.2s ease-in-out;
  img {
    height: 30px;
    margin-bottom: 5px;
    margin-left: 10px;
  }
}

.navbar {
  justify-content: space-between;
  padding: 0 20px;

  top: 0;
  left: 0;

  a {
    text-decoration: none;
    color: colors.$darkBlue;
  }
}

.options {
  a {
    margin-left: 20px;
  }
}

.navbar.hide {
  transform: translateY(-100%);
}

nav {
  display: flex;
}

nav.sections {
  flex: 2;
  justify-content: space-around;
  max-width: 800px;
}

.active {
  font-weight: bold;
}

.navbar_mobile {
  display: none;
}

@media (max-width: 768px) {
  .navbar {
    display: none;
  }
  .navbar_mobile {
    display: flex;

    .navbar__menuButton {
      margin-left: auto;
      margin-right: 10px;
      width: 24px;
      height: 24px;
      background-image: url(/icons/hamburger_base.svg);
      background-color: transparent;
    }
    .navbar__menuButton.active {
      background-image: url(/icons/hamburger_pressed.svg);
    }
    .navbar__dropDown {
      position: fixed;
      flex-direction: column;
      border: 1px solid colors.$lightGray;
      gap: 5px;
      right: 0;
      top: 60px;
      padding: 10px;
      background-color: colors.$whitest;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
      a {
        text-decoration: none;
      }
    }
  }
}
