@use "/src/assets/colors";
@use "/src/assets/font";

.searchBar {
  width: 80%;
  max-width: 900px;
  padding: 0 10px;
  height: 90px;
  display: flex;
  background-color: colors.$accent;
  margin-bottom: 122px;
  margin-left: 10vw;
  justify-content: space-around;
  align-items: center;
  input {
    flex-direction: column-reverse;
  }

  .searchBar__inputContainer {
    position: relative;
  }

  .searchBar__errorMessage {
    position: absolute;
    top: -15px;
    color: colors.$accent3;
    font-size: font.$textDesc;
  }
}

@media (max-width: 460px) {
  .searchBar {
    width: 100%;
    margin-left: 0;
  }
}
