@use "/src/assets/colors";
@use "/src/assets/font";

.searchBar {
  width: 80%;
  max-width: 900px;
  height: 90px;
  padding: 5px 10px;

  display: flex;
  gap: 10px;
  background-color: colors.$accent;
  margin-bottom: 122px;
  margin-left: 10vw;
  justify-content: space-around;
  align-items: flex-start;
  input {
    flex-direction: column-reverse;
  }

  .searchBar__inputContainer {
    position: relative;
  }

  .searchBar__errorMessage {
    position: absolute;
    top: -15px;
    color: colors.$accent3;
    font-size: font.$textDesc;
  }
}

@media (max-width: 768px) {
  .searchBar {
    gap: 7px;
    flex-direction: column;
    height: auto;
    width: auto;
    margin-left: 0;
    margin-bottom: 0;
    padding: 0 10px 5px;
    border-radius: 5px;
  }
}
