@use "/src/assets/colors";
@use "/src/assets/font";

.details__col,
.details__info,
.details__row {
  display: flex;
}

.details__info {
  height: 50%;
  width: 100%;
  padding: 32px 44px 48px;
  gap: 20px;
}

.details__col {
  flex-direction: column;
  color: colors.$darkBlue;

  h6 {
    color: colors.$strongGray;
  }

  h2 {
    margin: 44px 0 10px;
    font-weight: 700;
  }

  span {
    font-size: font.$textDesc;
    color: colors.$strongGray;
  }
}

.details__row {
  margin: 16px 0;
  gap: 90px;
}

.small {
  align-items: flex-end;
}

.details__date {
  width: 240px;
  height: 70px;
  padding: 11px;
  background-color: colors.$white;
  border-radius: 4px;
}

.rentStartArrow,
.rentEndArrow {
  margin-top: 5px;
  width: 16px;
  height: 16px;
  background-size: contain;
  background-repeat: no-repeat;
}

.rentStartArrow {
  background-image: url(/icons/rentStartArrow.svg);
}

.rentEndArrow {
  background-image: url(/icons/rentEndArrow.svg);
}

@media (max-width: 768px) {
  .details__info {
    padding: 2%;
    flex-direction: column;
  }
  .details__col {
    h3 {
      text-align: center;
      font-size: font.$header4;
    }
    h6 {
      font-size: font.$text;
    }
  }
  .details__carDesc {
    font-size: font.$text;
  }
  .small {
    min-width: 30%;
    align-items: center;
  }
  .details__row {
    display: flex;
    justify-content: space-between;
    gap: 0;
  }
}
